.loginBackground {
    -fx-background-color: white;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.commonPane{
    -fx-background-color: #17A589;    
}

.title{
    -fx-font: bold 25px "Roboto";
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
    -fx-text-fill: #1ABC9C;
}

.txtFieldLogin{
    -fx-font: 14px "Roboto" ;
    -fx-background-color: #F2F3F4;
    -fx-prompt-text-fill: #808B96;
    -fx-border-radius: 0px;   
}

.hipervinculo{
    -fx-font: 14px "Roboto";       
}

.buttonDark{
    -fx-font: bold 14px "Roboto";
    -fx-background-color: #17A589;
    -fx-text-fill: white;
    -fx-border-radius: 70px;
    -fx-background-radius: 70px;
}

.mainTitle{
    -fx-font: bold 28px "Roboto";
    -fx-text-fill: white;    
}

#mainT{
    -fx-font: bold 35px "Roboto";
}

.options{
    -fx-font: 13px "Roboto";
    -fx-text-fill: #ffffff;
}

.user{
    -fx-font: 13px "Roboto";
    -fx-border-color: white;
    -fx-border-radius: 70px;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.labelDark{
    -fx-font: 14px "Roboto";
    -fx-text-fill: #808B96;
}

.textfield{
    -fx-text-fill: black;
    -fx-font: 14px "Roboto";
    
}

/*CSS FOR TABLE*/

.table-view, .tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: -fx-box-border; /* Horizontal Lines*/
    -fx-background-color: transparent;
}

/* The column header row is made up of a number of column-header, one for each
   TableColumn, and a 'filler' area that extends from the right-most column
   to the edge of the tableview, or up to the 'column control' button. */
.table-view .filler, .tree-table-view .filler, .table-view .column-header,
.tree-table-view .column-header {
    -fx-size: 65;
  /*  -fx-border-style: null;*/
    -fx-border-color: -swatch-grey;
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
{
    -fx-background-color: transparent;
}

.table-view .column-header .label, .table-view .filler .label,
.table-view .column-drag-header .label, .tree-table-view .column-header .label,
.tree-table-view .filler .label, .tree-table-view .column-drag-header .label
{
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header-background, .tree-table-view .column-header-background
{
    -fx-background-color: transparent;
}

.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 38px;
    -fx-font: 14px "Roboto";
    
}

.table-row-cell:selected {
    -fx-background-color: #17A589;
    
}

.table-cell {
    -fx-border-color: transparent; /* Vertical Lines*/
    -fx-border-width: 1;
}